{% extends 'MarketPlace.html' %}

{% block content %}

<div class="u-container-style u-group u-opacity u-opacity-0 u-white u-group-2">
  <div class="u-container-layout u-container-layout-2">
    <div class="u-bottom-right-radius-30 u-container-style u-expanded-width u-grey-50 u-group u-opacity u-opacity-65 u-shape-round u-top-right-radius-30 u-group-3" data-animation-name="customAnimationIn" data-animation-duration="750">
      <div class="u-container-layout u-container-layout-3">
        <p class="u-custom-font u-font-lobster u-text u-text-2">!заголовок</p>
        <a href="" class="u-border-none u-btn u-btn-round u-button-style u-custom-font u-font-lobster u-hover-feature u-radius-50 u-text-hover-grey-70 u-btn-3">Узнать подробнее<span style="font-size: 0.875rem;"></span>
        </a>
        <p class="u-custom-font u-font-lobster u-text u-text-grey-15 u-text-3">!интро</p>
      </div>
    </div>
  </div>
</div>

{% endblock %}